<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
ErrorDocument 404 /404
Redirect /inc/ /404
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A31536000

<FilesMatch "\.(js|css|html|php|jpg|jpeg|png|svg)$">
ExpiresDefault A31536000
</FilesMatch>

</IfModule>
