/* NavBar */
nav{
    
    .Logo{
        a{
            color: $Blanco;
            margin: 0px;
            padding: 0px;

            img{
                width: 80%;
            }
        }
    }
    .navbar-nav{
        margin-left: 30px;
        display: grid;
        grid-template: 1fr / repeat(6,1fr);
        width: 100%;
        .nav-link{
            padding: 0px;
            color:$Blanco;
            font-family: $Lite;
            font-size: 1.2em;

        }
        .nav-link:hover{
            text-decoration: underline;
            color: $Dorado;
        }
    }
}