/* NavBar */
nav{
    
    .Logo{
        a{
            color: $Blanco;
            margin: 0px;
            padding: 0px;

            img{
                width: 80%;
            }
        }
    }
    .navbar-nav{
        margin-left: 30px;
        display: grid;
        grid-template: 1fr / repeat(5,1fr);
        grid-gap: 3pc;

        .nav-link{
            padding: 0px;
            color:$Blanco;
            font-family: $Lite;
            font-size: 1.2em;

            
            .fa-home,
            .fa-download,
            .fa-wallet,
            .fa-clipboard-check,
            .fa-sign-in-alt{
                @include iconos
            }
        }
        .nav-link:hover{
            text-decoration: underline;
            color: $Dorado;
        }
    }
}