/* NavBar */
nav{
    
    .Logo{
        a{
            color: $Blanco;
            margin: 0px;
            padding: 0px;

            img{
                width: 80%;
            }
        }
    }
    .navbar-nav{
        margin-left: 30px;
        display: grid;
        grid-template: 1fr / repeat(4,1fr);
        grid-gap: 4pc;

        .nav-link{
            padding: 0px;
            color:$Blanco;
            font-family: $Lite;
            font-size: 1.3em;

            
            .fa-home{
                @include iconos;
            }
            .fa-download{
                @include iconos;
            }
            .fa-wallet{
                @include iconos;
            }
            .fa-clipboard-check{
                @include iconos;
            }
        }
        .nav-link:hover{
            text-decoration: underline;
            color: $Dorado;
        }
    }
}