/* Parte 2 */
.Parte2{
    margin-top: 20%;
    text-align: center;

    .h1_principal{
        font-size: 5em;
        font-family: $Pesada;
        color: rgba($color: grey, $alpha: .1);
        margin-bottom: -46px;
    }
    .h1_secundario{
        font-family: $Pesada;
        font-size: 3em;
    }

    figure{
        width: 100%;
        height: 110vh;
        border-top: none;
        border-radius: 0% 0% 100% 100%;
        background: url("img/img/white-outline-world-map-vector.jpg") no-repeat;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            background:rgba($color: $Dorado, $alpha: .2);
            border-radius: 50%;
            width: 50%;
            height: 70%;
            margin: auto auto;
        }
    }
}