/* Parte 3 */
.parte3{
    .parte3_contenido{
        background: url('/img/img/Rectangulos.png') no-repeat;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas: ". . one one ."
                             ". . . two two"
                             ". . tres tres .";
        height: 80vh;

        article{
            margin-top: 5%;
        
            h3{
                color: $Dorado;
            }
            p{
                text-align: start;
            }
        }
        .article_one{
            grid-area: one;
        }
        .article_two{
            grid-area: two;
        }
        .article_tres{
            grid-area: tres;
        }
    }
}