/* Parte 2 */
.Parte2{
    margin-top: 20%;
    text-align: center;

    .h1_principal{
        font-size: 4em;
        font-family: $Pesada;
        color: rgba($color: grey, $alpha: .1);
        margin-bottom: -46px;
        text-transform: uppercase;
    }
    .h1_secundario{
        font-family: $Pesada;
        font-size: 3em;
        text-transform: uppercase;
    }

    figure{
        width: 100%;
        height: 110vh;
        border-top: none;
        border-radius: 0% 0% 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            img{
                max-width: 80%;
            }
        }
    }
}