/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

/* Fuentes */
$Lite: 'Quicksand', sans-serif;
$Pesada:'Noto Sans', sans-serif;


/* Colores */
$fondo_marco: #2b2f36;
$Blanco: #F4f4f4;
$Dorado:#DBB237