/* AUTOR: J' MANUEL C' MENDOZA */
*{
    margin: 0%;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    color: #f4f4f4;
    display: flex;
    justify-content: center;
}
/* body{
    overflow: hidden;
} */
/* VARIABLES */
@import "_mixing";
@import "_variables";

/* PAGES */
@import "_navbar";
@import "_marco";
@import "_marcoDo";
@import "_Parte2";
@import "_parte3";
@import "_parte4";
@import "_Descargas";
@import "_exchange";
@import "_link";
@import "_footer";
@import "page/_login.scss";
@import "page/_dashboard.scss";
@import "page/_404.scss";

.down{
    text-decoration: none;
    position: fixed;
    right: 2%;
    z-index: 5;
    color: $Dorado;
    font-size: 2em;
    cursor: pointer;
    
}
#up{
bottom: 2%;
}

#up,
.down:hover{
    color: $Dorado;
}