/* AUTOR: J' MANUEL C' MENDOZA */
*{
    margin: 0%;
    user-select: none;
}
body{
    color: #f4f4f4;
    background: #525659;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* VARIABLES */
@import "_variables";
@import "_mixing";

/* PAGES */
@import "_navbar";
@import "_marco";
@import "_marcoDo";
@import "_Parte2";
@import "_parte3";
@import "_parte4";
@import "_Descargas";
@import "_exchange";
@import "_link";
@import "_footer";
@import "page/_login.scss";
