/* AUTOR: J' MANUEL C' MENDOZA */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  margin: 0%;
  -webkit-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #f4f4f4;
  background: #525659;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* body{
    overflow: hidden;
} */
/* VARIABLES */
/* MIXING */
/* Variables */
/* Fuentes */
/* Colores */
.fa-home,
.fa-download,
.fa-th,
.fa-wallet,
.fa-piggy-bank,
.fa-shopping-cart,
.fa-sync-alt,
.fa-search,
.fa-clipboard-check,
.fa-sign-in-alt {
  color: #DBB237;
  margin: 2px;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* PAGES */
/* NavBar */
nav .Logo a {
  color: #F4f4f4;
  margin: 0px;
  padding: 0px;
}
nav .Logo a img {
  width: 80%;
}
nav .navbar-nav {
  margin-left: 30px;
  display: grid;
  grid-template: 1fr/repeat(6, 1fr);
  width: 100%;
}
nav .navbar-nav .nav-link {
  padding: 0px;
  color: #F4f4f4;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}
nav .navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #DBB237;
}

/* Marco */
.marco {
  box-shadow: black 0px 1px 5px;
  width: 82%;
  background: #2b2f36;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MarcoDO */
.marcoDo {
  border-radius: 20px;
  width: 96%;
  background: #202124;
}
.marcoDo .Hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 14%;
  padding-left: 5%;
}
.marcoDo .Hero .hero_txt h1 {
  color: #DBB237;
  font-size: 3.5em !important;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  margin: 0%;
}
.marcoDo .Hero .hero_txt p {
  padding-top: 3%;
  font-size: 1.7em;
  margin: 0%;
  font-family: sans-serif;
}
.marcoDo .Hero .hero_txt input {
  margin-top: 4%;
  width: 59%;
  height: 2em;
  color: #202124;
  background: #DBB237;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 1.62em;
  border-radius: 5px;
  border: none;
}
.marcoDo .Hero .hero_txt .hero_iconos {
  display: flex;
  margin-top: 1.5%;
  margin-left: 10%;
  width: 40%;
  justify-content: space-evenly;
}
.marcoDo .Hero .hero_txt .hero_iconos i {
  font-size: 1.5em;
  color: #52555a;
}
.marcoDo .Hero .hero_img img {
  max-width: 85%;
  animation: gif 0.8s infinite alternate;
}
@keyframes gif {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Parte 2 */
.Parte2 {
  margin-top: 20%;
  text-align: center;
}
.Parte2 .h1_principal {
  font-size: 4em;
  font-family: "Noto Sans", sans-serif;
  color: rgba(128, 128, 128, 0.1);
  margin-bottom: -46px;
  text-transform: uppercase;
}
.Parte2 .h1_secundario {
  font-family: "Noto Sans", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
}
.Parte2 figure {
  width: 100%;
  height: 110vh;
  border-top: none;
  border-radius: 0% 0% 100% 100%;
  background: url("https://i.pinimg.com/originals/e0/33/bf/e033bfabd64ae5ad615a6867a49eca3b.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Parte2 figure div img {
  max-width: 80%;
}

/* Parte 3 */
.parte3 .parte3_contenido {
  background: url("/img/img/Rectangulos.png") no-repeat;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: ". . one one ." ". two two . ." ". . tres tres .";
}
.parte3 .parte3_contenido article {
  margin-top: 5%;
}
.parte3 .parte3_contenido article h3 {
  color: #DBB237;
}
.parte3 .parte3_contenido article p {
  text-align: start;
}
.parte3 .parte3_contenido .article_one {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: one;
}
.parte3 .parte3_contenido .article_two {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: two;
}
.parte3 .parte3_contenido .article_tres {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: tres;
}

/* Parte 4 */
.parte4 strong {
  text-transform: capitalize;
}
.parte4 ._img {
  margin: 2% 10%;
  border: 2.5px solid grey;
}
.parte4 ._img img {
  padding: 8%;
  max-width: 100%;
}

/* Descargas */
._Descargas {
  background: #1a1a1a;
  margin-top: 5%;
  border-radius: 0 0 50% 50%;
  height: 100vh;
}
._Descargas ._Descargas_app {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
._Descargas ._Descargas_app a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}
._Descargas ._Descargas_app a p {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2f36;
  border-radius: 30px;
  height: 2em;
  width: 8em;
}
._Descargas ._Descargas_app a p:last-child {
  width: 14em;
}
._Descargas ._Descargas_app a i {
  margin-bottom: 5%;
  color: #DBB237;
  font-size: 8em;
}

/* Exchange */
._exchange {
  margin-top: 5%;
}
._exchange ._exchange_square {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._exchange ._exchange_square a {
  width: 100%;
}
._exchange ._exchange_square a img {
  width: 60%;
}

/* Footer */
._link ._link_link {
  margin-top: 5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
._link ._link_link a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4F5356;
  width: 15%;
  height: 15vh;
  border-radius: 30px;
}
._link ._link_link a img {
  width: 80%;
}
._link ._link_link a:nth-child(2) {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
._link ._link_link a:nth-child(2) img {
  width: 35%;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer ._iconos_footer {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
footer ._iconos_footer a {
  text-decoration: none;
  color: white;
}
footer ._iconos_footer i {
  font-size: 2em;
}
footer p {
  text-transform: uppercase;
  color: grey;
  font-size: 1.3em;
}

/* Login */
.Register_login figure {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/e0/33/bf/e033bfabd64ae5ad615a6867a49eca3b.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 0%;
}
.Register_login figure .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 5% 0%;
  border-radius: 20px;
  background: #181818;
}
.Register_login figure .login button {
  background: #DBB237;
  padding: 2%;
  width: 30%;
  border-radius: 20px;
  font-weight: bold;
  color: #2b2f36;
}
.Register_login figure .login small a {
  text-decoration: none;
  color: white;
}
.Register_login figure .login label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
}
.Register_login figure .login label input {
  padding: 0% 5%;
  width: 60%;
  height: 3em;
  border-radius: 30px;
  border: none;
  color: white;
  background: #2b2f36;
}
.Register_login figure .register {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dashboard */
/* html,body{
    overflow: auto;
} */
.Dashboard {
  display: grid;
  grid-template-columns: 17% 1fr;
  grid-template-areas: "Navbar ." "Navbar contenido" "heroIcons contenido";
}
.Dashboard .NavBar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  width: 100%;
  grid-area: Navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Dashboard .NavBar a {
  background-color: #232529;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-bottom: 2%;
  padding-left: 15%;
}
.Dashboard .NavBar a:hover {
  background-color: #2b2f36;
}
.Dashboard .hero_iconos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: heroIcons;
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-top: 15%;
  margin-bottom: 15%;
}
.Dashboard .hero_iconos a {
  color: white;
}
.Dashboard .Contenido {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: contenido;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
  border-radius: 10px;
}
.Dashboard .Contenido h3 {
  color: #DBB237;
}
.Dashboard .Contenido h6 {
  color: #DBB237;
  display: flex;
  align-items: center;
}
.Dashboard .Contenido #btn {
  padding: 0.4%;
}
.Dashboard .Contenido pre {
  background: #2b2f36;
  padding: 0.4%;
  text-align: center;
  color: white;
  width: 80%;
  border-radius: 20px;
  -webkit-user-select: text;
          user-select: text;
  margin: 0%;
}
.Dashboard .Contenido hr {
  background: white;
}
.Dashboard .Contenido div {
  display: flex;
  justify-content: center;
}
.Dashboard .Contenido div .Contenido_Balances {
  margin: 1.5%;
  padding: 2%;
  background: #2b2f36;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.Dashboard .Contenido div .Contenido_Balances h6 {
  color: #DBB237;
}
.Dashboard .Contenido div .Contenido_Balances p {
  font-size: 2em;
  color: rgba(244, 244, 244, 0.6);
}
.Dashboard .Contenido div .Contenido_Balances button {
  width: 80%;
}
.Dashboard .Contenido button {
  background: #2b2f36;
  border: 1px solid #181a1f;
  border-radius: 10px;
  padding: 2%;
  color: #DBB237;
  width: 40%;
  margin: auto;
  outline: none;
}
.Dashboard .Contenido form {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.Dashboard .Contenido form input {
  margin-bottom: 1%;
  border-radius: 15px;
  padding-left: 3%;
}

#box {
  width: 350px;
  height: 100%;
  max-height: 600px;
  min-height: 450px;
  background: #202124;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
}
#box .box__ghost {
  padding: 15px 25px 25px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
#box .box__ghost .symbol:nth-child(1) {
  opacity: 0.2;
  animation: shine 4s ease-in-out 3s infinite;
}
#box .box__ghost .symbol:nth-child(1):before, #box .box__ghost .symbol:nth-child(1):after {
  content: "";
  width: 12px;
  height: 4px;
  background: grey;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  left: 0;
}
#box .box__ghost .symbol:nth-child(1):before {
  transform: rotate(45deg);
}
#box .box__ghost .symbol:nth-child(1):after {
  transform: rotate(-45deg);
}
#box .box__ghost .symbol:nth-child(2) {
  position: absolute;
  left: -5px;
  top: 30px;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-radius: 50%;
  border-color: grey;
  opacity: 0.2;
  animation: shine 4s ease-in-out 1.3s infinite;
}
#box .box__ghost .symbol:nth-child(3) {
  opacity: 0.2;
  animation: shine 3s ease-in-out 0.5s infinite;
}
#box .box__ghost .symbol:nth-child(3):before, #box .box__ghost .symbol:nth-child(3):after {
  content: "";
  width: 12px;
  height: 4px;
  background: grey;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 40px;
}
#box .box__ghost .symbol:nth-child(3):before {
  transform: rotate(90deg);
}
#box .box__ghost .symbol:nth-child(3):after {
  transform: rotate(180deg);
}
#box .box__ghost .symbol:nth-child(4) {
  opacity: 0.2;
  animation: shine 6s ease-in-out 1.6s infinite;
}
#box .box__ghost .symbol:nth-child(4):before, #box .box__ghost .symbol:nth-child(4):after {
  content: "";
  width: 15px;
  height: 4px;
  background: grey;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 30px;
}
#box .box__ghost .symbol:nth-child(4):before {
  transform: rotate(45deg);
}
#box .box__ghost .symbol:nth-child(4):after {
  transform: rotate(-45deg);
}
#box .box__ghost .symbol:nth-child(5) {
  position: absolute;
  right: 5px;
  top: 40px;
  height: 12px;
  width: 12px;
  border: 3px solid;
  border-radius: 50%;
  border-color: grey;
  opacity: 0.2;
  animation: shine 1.7s ease-in-out 7s infinite;
}
#box .box__ghost .symbol:nth-child(6) {
  opacity: 0.2;
  animation: shine 2s ease-in-out 6s infinite;
}
#box .box__ghost .symbol:nth-child(6):before, #box .box__ghost .symbol:nth-child(6):after {
  content: "";
  width: 15px;
  height: 4px;
  background: grey;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  right: -5px;
}
#box .box__ghost .symbol:nth-child(6):before {
  transform: rotate(90deg);
}
#box .box__ghost .symbol:nth-child(6):after {
  transform: rotate(180deg);
}
#box .box__ghost .box__ghost-container {
  background: grey;
  width: 100px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  margin: 0 auto;
  animation: upndown 3s ease-in-out infinite;
}
#box .box__ghost .box__ghost-container .box__ghost-eyes {
  position: absolute;
  left: 50%;
  top: 45%;
  height: 12px;
  width: 70px;
}
#box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-left {
  width: 12px;
  height: 12px;
  background: #202124;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  left: 0;
}
#box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-right {
  width: 12px;
  height: 12px;
  background: #202124;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  right: 0;
}
#box .box__ghost .box__ghost-container .box__ghost-bottom {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
#box .box__ghost .box__ghost-container .box__ghost-bottom div {
  flex-grow: 1;
  position: relative;
  top: -10px;
  height: 20px;
  border-radius: 100%;
  background-color: grey;
}
#box .box__ghost .box__ghost-container .box__ghost-bottom div:nth-child(2n) {
  top: -12px;
  margin: 0 0px;
  border-top: 15px solid #202124;
  background: transparent;
}
#box .box__ghost .box__ghost-shadow {
  height: 20px;
  box-shadow: 0 50px 15px 5px #3B3769;
  border-radius: 50%;
  margin: 0 auto;
  animation: smallnbig 3s ease-in-out infinite;
}
#box .box__description {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#box .box__description .box__description-container {
  color: grey;
  text-align: center;
  width: 200px;
  font-size: 16px;
  margin: 0 auto;
}
#box .box__description .box__description-container .box__description-title {
  font-size: 24px;
  letter-spacing: 0.5px;
}
#box .box__description .box__description-container .box__description-text {
  color: #8C8AA7;
  line-height: 20px;
  margin-top: 20px;
}
#box .box__description .box__button {
  display: block;
  position: relative;
  background: #DBB237;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: grey;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background 0.5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
#box .box__description .box__button:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  background: grey;
  bottom: -25px;
  left: 0;
  border: 2px solid grey;
  transform: translateX(-50px) rotate(45deg);
  transition: transform 0.5s ease;
}
#box .box__description .box__button:hover {
  background: transparent;
  border-color: grey;
}
#box .box__description .box__button:hover:before {
  transform: translateX(250px) rotate(45deg);
}

@keyframes upndown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes smallnbig {
  0% {
    width: 90px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 90px;
  }
}
@keyframes shine {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}
.down {
  text-decoration: none;
  position: fixed;
  right: 2%;
  z-index: 5;
  color: #DBB237;
  font-size: 2em;
  cursor: pointer;
}

#up {
  bottom: 2%;
}

#up,
.down:hover {
  color: #DBB237;
}